<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Task Manager</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/index.css' %}">
    <link rel="stylesheet" href="{% static 'assets/tailwind.css' %}">
</head>
<body>
    <div id="app"></div>
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
      <div>
        <div class="text-xl font-medium text-black">Salom, Tailwind ishlamoqda!</div>
        <p class="text-gray-500">Vue + Tailwind integratsiyasi muvaffaqiyatli</p>
      </div>
    </div>
    <script src="{% static 'assets/index.js' %}"></script>
</body>
</html>




<!-- <!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NT</title>
    <script type="module" crossorigin src="/assets/index--wr_6uFy.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-C8ES1YvZ.css">
  </head>
  <body>
    <div id="app">
      <div class="bg-blue-500 text-white p-4 rounded-lg shadow-md">
        TailwindCSS ishlayapti!
      </div>   
     </div>
  </body>
</html> -->
